$primary : white;
$banner-height : 400px;
$banner-width: auto;
$banner-font-size: 70px;
$font-family: Helvetica;
$nav-font-size: 15px;
$nav-height: 40px;
$nav-color: #85144b;
/*
* Button colors
*/
$btn-primary: #7bffe9;
$btn-secondary: #ffc0c0;


body{
  background: $primary;
}

.banner {
  //background-color: #AAAAAA;
  height: $banner-height;
  width: $banner-width;

  p{
    margin-top:0;
    text-align:center;
    font:{
      color:$primary;
      weight:bold;
      size: $banner-font-size;
      family: $font-family;
    }
    padding-left: $banner-width/2 - 100;
    padding-top: $banner-height/3.5;
    vertical-align: middle;
  }

}

.nav-wrapper {
  float: right;
  height: $nav-height;
  margin-bottom: 0px;

  .navigation {
    margin:0px;
  }
}

.container {
  overflow:hidden;
  padding-left:50px;
  padding-right:50px;
  background-color: #FF4136;
  height: $nav-height;
  padding-top:$nav-height/2.4 + 5;
  margin-bottom:0;
}

.nav-list-item{
  display:inline;
  padding-left:20px;
  padding-top:20px;
  padding-right:20px;
  text-align: center;
  text-decoration: none;
  font-family:$font-family;
  font-size: $nav-font-size;
  font-color: $primary;
}

#app{
  -webkit-margin-after: 0px;
}




