
@media (min-width: 1025px) and (max-width: 1920px){
  

  .hero-wrapper{
    width: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    flex-wrap:nowrap;
  }

  .hero-headline{
    align-self: flex-start;
    max-width: 50%;
    flex-basis: 646px;
  }

  .hero-description{

    display:block;
     width: 624px;
    flex:1;
    text-align: center;
  }

  .hero-name{
    font-size: 55px;
    letter-spacing: 1.5px;
    font-family: sans-serif;
    margin-bottom: 9px;
    font-weight: 400;

  }

  .hero-small-description{
    font-size: 11px;
    letter-spacing: 1.5px;
    font-family: sans-serif;
    font-weight: 400;
  }

  .hero-name{
    font-size: 55px;
    font-family: 'Gotham', sans-serif;
    font-weight: 500;


    line-height: 1em;
    color: #080808;
    text-transform: uppercase;
    letter-spacing: 0.15em;
  }

  .hero-centering-wrapper{
    padding: 0;
    margin: 0 100px;
    width: 100%;
  }

  .hero-heading {
    flex-basis: 646px;
  }

  .hero-description{
    display: block;
    align-self: flex-end;
    max-width: 713px;
    flex-basis: 50%;
    font-size: 20px;
    font-weight: 200;
    letter-spacing: normal;
    //font-family: "Montserrat", sans-serif;
    font-family: "Work Sans", sans-serif;
    line-height: 1.625em;
    margin: 0;
  }


  .box-container{
    display: flex;
    flex-direction: row;
  }

  .box {
    font-size: 20px;
    background: white;
    display: flex;
    width: 200px;
    height: 200px;
    margin: 10px 25px;
    align-items:flex-start;
    justify-content: center;
    border-bottom: none;
    flex:1;
  }


  .navline {
    padding-left: 70px;
    padding-right: 70px;
    height: 70px;
    padding-top: 20px;
    background: #f7f7f7;


    ul {
      display: flex;
      flex-direction: row;
      justify-content:center;
    }

    li {
      flex: 1;
      text-align: center;
      padding-top:0;
      a {
        color: black;
        font-size: $nav-font-size/1.05;
        font-weight: 300;
        //font-family: 'Nunito';
        font-family: "Work Sans", sans-serif;
        text-decoration: none;
      }
    }

    li:first-child {
      flex: 1;
      text-align: left;
    }

    nav > ul {
      flex-direction: row;
    }

  }




}

//images

@media(min-width: 480px){

  .img-container {
    display: flex;
    flex-direction: row;
  }

  .img-box {
    font-size: 14px;
    background: white;
    width: 200px;
    height: 200px;
    margin: 70px 25px;
    align-items: center;
    justify-content: center;
    padding: 0 0;
    flex: 1;
    border: none;
      p{
        padding-top: 10px;
        padding-left: 5px;
      }
  }

  .img {
    display: flex;
    height: 220px;
    width: 250px;
    transform: rotate(90deg);
  }

}


@media(min-width: 780px) and (max-width: 995px){

  .hero-name{
    font-size: 20px;
    font-family: 'Gotham', sans-serif;
    font-weight: 500;
    letter-spacing: 0.15em;
    text-transform: uppercase;
  }

  .hero-small-description{
    display:none;
    font-size: 8px;
  }




  .hero-centering-wrapper{
    padding: 0;
    margin: 0 100px;
    width: 100%;
  }

  .hero-heading {
    flex-basis: 50%;
  }

  .hero-description{
    display: block;
    align-self: flex-end;
    max-width: 713px;
    flex-basis: 90%;
    font-size: 17px;
    font-weight: 300;
    font-family:"Nunito", sans-serif;
    line-height: 1.625em;
    margin: 0;
  }
}




