@media (max-width: 500px) {

  .banner {
    height: $banner-height/2.5;
    display: flex;
    align-items:center;
    justify-content: center;

        p {
          font: {
            size: $banner-font-size/3;
          }
        }

  }
}

  @media  (min-width: 500px) {
    .banner {
      height: $banner-height/1.5;
        display: flex;
        align-items:center;
        justify-content: center;

      p {
        font: {
          size: $banner-font-size/2;
        }
      }
    }
  }
