$primary: white;
$hero-height: 400px;
$hero-width: auto;
$hero-font-size: 100px;
$font-family: Helvetica;
$nav-font-size: 20px;
$nav-height: 125px;
$nav-color: #198560;
/*
* Button colors
*/
$btn-primary: #7bffe9;
$btn-secondary: #ffc0c0;


